.aboutMain {
    background: #080831;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 10px;
}

.navbar a {
    text-decoration: none;
    color: #CCCCCC;
}

.text {
    padding: 10px;
    text-align: justify;
}

.image{
    width: 50%;
    margin: 0 auto;
}

