.wrapp {
    width: 100%;
    padding-top: 60px;
    background: radial-gradient(circle closest-corner at 70% 90%, #6B6A96, #0b0a5d);
}
.greeting {
    text-align: center;
}
.greeting_text {
    width: 100%;
}
.myName {
    color: #FE3E57;
}

.text_box {
    padding-bottom: 20px;
}

.iconsBlock {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.htmlCss {
    width: 100px;
}
.js {
    width: 50px;
}
.react {
    width: 50px;
}

@media all and (orientation:landscape) {
    .greeting {
        min-height: 90vh;
        display: flex;
        justify-content: space-between;
        text-align: left;
        flex-wrap: wrap;
    }

    .block {
        flex: 1;
    }

    .greeting_text {
        flex: 7;
    }

    .myName {
        color: #FE3E57;
    }

    .text_box {
        margin-top: 25vh;
        max-width: 90%;
    }

    .greeting_text h2 {
        font-size: calc(0.7rem + 3vw);
        font-weight: 900;
        line-height: 10vh;
    }

    .greeting_text h3 {
        font-size: calc(0.3rem + 1vw);
    }

    .greeting_photo {
        align-self: flex-end;
        object-fit: contain;
        height: 80vh;
    }

    .iconsBlock {
        max-width: 80%;
        justify-content: left;
    }

    /*.absolute {*/
    /*    height: 100px;*/
    /*    width: 100px;*/
    /*    background-color: cadetblue;*/
    /*    position: relative;*/
    /*    top: -300px;*/
    /*}*/

}