.skill {
    min-width: 360px;
    width: 30%;
    border: 1px solid blue;
    text-align: center;
}

.skill_imgBox {
    display: inline-block;
    width: 30%;
}

.skill_text {
    text-align: center;
}